@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.__add {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    background: white;
    padding: 25px;
    box-shadow: 4px 0 10px rgba(93, 109, 151, 0.1);
}

.__add_title {
    color: rgb(0, 0, 0);
    margin-top: 0;
    font-size: 22px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.__add_query {
    display: inline-block;
    margin: 0 20px;
}

.__add_input {
    display: block;
    padding: 4px 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 17px;
    margin-top: 10px;
}

.__add_button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    min-width: 200px;
    padding: 8px 0;
    background: #4A9DFF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: Ubuntu;
}

.__add_button:hover {
    background: #418beb;
}