.__table {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 700px;
    padding-bottom: 40px;
}

.__table_toolbar {
    padding: 20px;
}

.__table_h3 {
    display: inline;
    font-family: Ubuntu;
}

.__table_to {
    text-align: center;
    float: right;
    margin-top: -5px;
    cursor: pointer;
    padding: 8px 0;
    width: 200px;
    background: #4A9DFF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: Ubuntu;
    text-decoration: none;
}

.__table_to:hover {
    background: #418beb;
}