.__main_to {
    margin: 0 auto;
    max-width: 700px;
    padding-bottom: 50px;
}

.__chart {
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    max-width: 638px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 4px 0 10px rgba(93, 109, 151, 0.1);
}

.__chart_flex {
    display: flex;
}

.__chart_button {
    margin: 0 auto;
    margin-top: 60px;
    display: block;
    max-width: 200px;
    text-align: center;
    background: #4A9DFF;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    font-family: Ubuntu;
    text-decoration: none;
}

.__chart_button:hover {
    background: #418beb;
}